<html>

<head>
  <title>how drunk is tom?</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">
  <link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">

  <style>
  @font-face {
      font-family: 'Mixo';
      src: url('webfonts/VTF_Mixo.eot'); /* IE9 Compat Modes */
      src: url('webfonts/VTF_Mixo.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('webfonts/VTF_Mixo.woff') format('woff'), /* Modern Browsers */
      url('webfonts/VTF_Mixo.ttf') format('truetype'), /* Safari, Android, iOS */
      url('webfonts/VTF_Mixo.svg#mixo') format('svg'); /* Legacy iOS */
  }

  html, body, button, input, label { font-family: 'Rubik', sans-serif; }
  body { padding: 2vw; font-size: 36px; }
  main { min-height: 100vh; }
  footer { border-top: 3px solid black; padding-top: 20px; }
  h1, h2, h3, h4, h5 { font-weight: normal; }
  .mixo { font-family: 'Mixo'; }
  hr { border-top: none; border-bottom: 3px solid black; }

  /* Page specific */

  button { appearance: none; border: none; cursor: pointer; }

  </style>
</head>

<body>
  <main>
    <div id="app" class="container-fluid">
      <h1>
        <span id="drunk-scale" class="mixo">ooooo</span><br>
        drink entry</h1>
      <form>
        <div class="form-row">
          <div class="form-group col-md-8">
            <label for="inputEmail4">drink name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
          </div>
          <div class="form-group col-md-4">
            <label for="inputEmail4">drink cost</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2">$</span>
              </div>
              <input type="text" class="form-control" id="cost" name="cost" placeholder="Cost" required>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputAddress">drink volume</label>
            <div class="dropdown">
            <div class="input-group">

                    <input type="number" class="form-control dropdown-toggle" data-toggle="dropdown" id="volume" name="volume" v-model="currentVolume">
                    <div class="input-group-append">
                      <span class="input-group-text" id="basic-addon2">mL</span>
                    </div>
                      <span class="caret"></span></button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                          <li class="dropdown-item" role="presentation" v-on:click="setVolume" v-for="item in defaults">{{ item.volume }} <span class="badge badge-pill badge-light">{{ item.name }}</span></sub></li>
                      </ul>
                    </div>
                </div>
              <!-- <input type="number" class="form-control" id="volume" name="volume" placeholder="330" required> -->

          </div>

          <div class="form-group col-md-6">
            <label for="inputAddress2">alcohol by volume (%)</label>
            <div class="input-group">
              <input type="text" class="form-control" id="abv" name="abv" placeholder="4.2" required>
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="started_time">drink start time</label>
            <div class="input-group date form_datetime" data-date-format="dd MM yyyy - HH:ii p" data-link-field="started_time">
              <input class="form-control" size="16" type="text" value="" readonly>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-remove"></span>
              </span>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
              </span>
            </div>
            <input type="hidden" id="started_time" name="started_time" value="" />
            <br/>
          </div>

          <div class="form-group col-md-6">
            <label for="finished_time">drink end time</label>
            <div class="input-group date form_datetime" data-date-format="dd MM yyyy - HH:ii p" data-link-field="finished_time">
              <input class="form-control" size="16" type="text" value="" readonly>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-remove"></span>
              </span>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
              </span>
            </div>
            <input type="hidden" id="finished_time" name="finished_time" value="" />
            <br/>
          </div>
        </div>
        <button type="submit">submit drink</button>
      </form>
      



  </main>

  <footer>
    <small>by T<span class="mixo">ooooo</span>m Manderson, Jessica Barr<span class="mixo">oo</span>n, J<span class="mixo">ooo</span>rdan Gardiner, Tyl<span class="mixo">oooo</span>r Stewart &amp; <span class="mixo">o</span>thers<br>
        dedicated to Tom (who is not an alcoholic btw) <3
    </small>
  </footer>

  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
  <script src="js/bootstrap-datetimepicker.min.js"></script>
  <script type="text/javascript">
    
    let drinkDefaults = {}

    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue!',
        defaults: drinkDefaults,
        currentVolume: 0
      },
      methods: {
        setVolume: function(e) {
          console.log(e)

          if (e.target.nodeName === "LI") {
            app.currentVolume = parseInt(e.target.childNodes[0].data)
          } else {
            app.currentVolume = parseInt(e.target.parentElement.childNodes[0].data)
          }
          document.querySelector('.dropdown-menu').classList.remove('show')
        }
      }
  
    })

    fetch('./defaults.json')
    .then(function(response) {
      return response.json()
    })
    .then(function(response) {
      console.log(app.defaults)
      app.defaults = response
      console.log(app.defaults)
    })




    $('.form_datetime').datetimepicker({
      weekStart: 1,
      todayBtn: 1,
      autoclose: 1,
      todayHighlight: 1,
      startView: 2,
      forceParse: 0,
      showMeridian: 1
    });

    $('form').submit(function(e){
      e.preventDefault();
      let data = $('form').serialize();
      if ($("#finished_time").val() == "")
        data = data.replace("&finished_time=", "");

      $.post( "http://s0.trm.io:3000/drinks", data)
        .done(function(data) {
          alert("Success!")
        })
    })
  </script>
</body>


</html>


<!-- 
  
  Hello
  Hello
 -->